<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
<div  class="modal" tabindex="-1" role="dialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="container">
         <div class="row">
           <div class="col-sm">

             <ul *ngIf="persona" class="list-group text-dark mb-3">
               <li class="list-group-item active">{{persona.nombre}}</li>
               <li class="list-group-item">{{persona.apellidos}}</li>
               <li class="list-group-item">{{persona.email}}</li>
               <li class="list-group-item">{{persona.createAt | date:"fullDate"}}</li>
             </ul>
             <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button"
                   id="inputGroupFileAddon03">Subir</button>
               </div>
               <div class="custom-file">
                 <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile03"
                   aria-describedby="inputGroupFileAddon03">
                 <label class="custom-file-label" for="inputGroupFile03">Pincha aqui para seleccionar archivo</label>
               </div>
             </div>
             <div *ngIf="progreso > 0" class="progress">
               <div class="progress-bar progress-bar-striped" role="progressbar" ngstyle="[{width:progreso+'%'}]"
                 attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
             </div>
           </div>
           <div class="col-sm">
             <img *ngIf="persona?.foto" src="http://localhost:8080/api/uploads/img/{{persona.foto}}"
               alt="{{persona.foto}}" class="img-thumbnail rounded">
           </div>
         </div>
       </div>
      </div>
      <div class="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
